<section id="boumCoeurs">
  <h2>Boum Coeurs</h2>
  <div class="flipContainer" ontouchstart="this.classList.toggle('hover');">
    <div class="flip">
      <div class="frontFlip">
        <img class="carteTrace" src="images/autre/13KmCircuit.png" alt="Tracé 13km" title="Carte course des boum coeurs">
      </div>
      <div class="backFlip">
        <img src="images/autre/profilBoum.png" alt="Profil 13Km" title="Profil du 13Km">
        <p><mark>13km / 420mD+</mark></p>
      </div>
    </div>
  </div>
  <p><mark>Survolez</mark> la carte pour plus d'informations</p>
</section>

<section id="rush">
  <h2>Rush des Casemates</h2>
  <div class="flipContainer" ontouchstart="this.classList.toggle('hover');">
    <div class="flip">
      <div class="frontFlip">
        <img class="carteTrace" src="images/autre/23KmCircuit.png" alt="Tracé 23km" title="Carte rush des casemates">
      </div>
      <div class="backFlip">
        <img src="images/autre/profilRush.png" alt="Profil 24Km" title="Profil du 24Km">
        <p><mark>13km / 420mD+</mark></p>
      </div>
    </div>
  </div>
  <p><mark>Survolez</mark> la carte pour plus d'informations</p>
</section>
