<section id="evenement">
  <div class="titleBlock">
    <h2>Evénement</h2>
  </div>
  <img src="images/journaux/inscriptionJournaux.jpg" alt="Article journal" class="floatRight">
  <div class="article">
    <p>Sur les pentes raides des collines du vignoble de Dangolsheim et Soultz-les-Bains,vous foulerez une terre riche en histoire où la nature porte encore les stigmates de l’homme. Dans ce périple, les Carrières Royales (exploitées pour la construction de la citadelle de Strasbourg), Fours à chaux, Canal de la Bruche….Casemates…offrent leurs charmes, leurs surprises et leurs découvertes.</p>
    <p>Arrivés sur les hauteurs, les forêts de pinèdes  offrent une atmosphère méditerranéenne où l’on embrasse les vastes horizons vosgiens, notamment le Donon et la vallée de la Mossig. Le trail, c’est cette pratique sportive en pleine nature, modeste, simple et pure qui offre un éventail d’expériences de toute beauté et ayant comme maîtres mots ; la liberté et l’évasion.</p>
    <p>Les Casemates, ce sont ces ouvrages militaires bétonnés ayant eu pour   fonctions ; d’observatoires, de positions d’infanteries, d’abris à munition, de galeries, de postes de commandements…. Ils font partie d’un vaste programme de fortifications permanentes visant à défendre Strasbourg, une ville frontière très disputée.</p>
    <p>Les casemates étaient vouées à défendre et plus si besoin…</p>
    <p>Dans la perspective des célébrations du centième anniversaire de la fin de la Première Guerre mondiale, l’ensemble du comité de l’association des Casemates, au côté de l’association du Fort de Mutzig souhaitent initier dans cette deuxième édition, une course sous le signe de la <mark>Paix</mark>, de la <mark>Joie</mark> , de la <mark>Mémoire</mark> et surtout de la <mark>Liberté</mark>.</p>
    <p>Bienvenus chez Nous,</p>
    <p><mark>Le Comité de l’Association du Trail des Casemates.</mark></p>
  </div>
</section>
