<section id="programme">
  <div class="titleBlock">
    <h2>Programme</h2>
  </div>
  <img src="images/autre/affiche.png" alt="Affiche de l'édition 2018" title="Affiche 2018">
  <div class="article">
    <p>Buvette et petite restauration sur place - <mark>consigne gratuite</mark></p>
    <p><mark>Retrait des dossards</mark> à la salle socioculturel de Dangolsheim</p>
    <p>Le vendredi 08 février de 18h à 20h</p>
    <p>Le samedi 09 février à partir de 07h30</p>
    <p><mark>Remise des prix</mark> entre 13h et 13h30</p>
  </div>
</section>
