<section id="resultat">
  <h2>Archives résultats</h2>
  <p><mark>Courses des Boums Coeur :</mark> Emmanuel ALLENBACH  <mark>00:55:11</mark> /  Sophie WECKERLE  <mark>01:11:50</mark></p>
  <p><mark>Rush des Casemates :</mark> Maxime RAUNER <mark>01:45:01</mark> / Hélène DUTT <mark>02:16:15</mark></p>
  <a href="http://www.sporkrono.fr/resultats-trail-casemattes/" class="myButton" target="_blank">Résultats 2018</a>
  <p><mark>Courses des Boums Coeur :</mark> Emmanuel ALLENBACH  <mark>00:53:32</mark> /  Celine FEDER  <mark>01:07:03</mark></p>
  <p><mark>Rush des Casemates :</mark> Florian WEISSER <mark>01:43:45</mark> / Juliane WIBERT <mark>02:02:06</mark></p>
  <a href="http://www.sporkrono.fr/resultats-trail-casemattes/" class="myButton" target="_blank">Résultats 2017</a>

</section>
